In [84]:
!open ./data/

In [19]:
#!wc -l /Users/raphaelcourivaud/Downloads/lovac2024ff23.csv

 12047294 /Users/raphaelcourivaud/Downloads/lovac2024ff23.csv

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/raphaelcourivaud/Downloads/lovac2024ff23 (1).csv", delimiter=";", )

KeyboardInterrupt:

In [2]:
list(df.columns)

NameError: name 'df' is not defined

In [79]:
df.head().to_csv("./data/export_lovac_25062024.csv")

In [107]:
df["ff_ccodro_1"].value_counts()

ff_ccodro_1
P    881406
U     72096
E      4957
R      2784
A       183
W        83
H         8
O         7
Name: count, dtype: int64

In [101]:
df.filter(regex="groupe")

       groupe
0
1
2
3
4
...       ...
999995
999996
999997
999998
999999      4

[1000000 rows x 1 columns]

In [95]:
        CASE
            WHEN TRIM(groupe::TEXT) = '' THEN 'Particulier'
            WHEN NOT(owner_fullname LIKE '%' || SPLIT_PART(TRIM(ff_ddenom_1), '/', 1) || '%') AND NOT(owner_fullname LIKE '%' || SPLIT_PART(SPLIT_PART(TRIM(ff_ddenom_1), '/', 2), ' ', 1) || '%') THEN 'Autre'
            WHEN ff_catpro2txt = 'INVESTISSEUR PROFESSIONNEL' THEN 'Investisseur'
            WHEN ff_catpro2txt = 'SOCIETE CIVILE A VOCATION IMMOBILIERE' THEN 'SCI'
            ELSE ff_catpro2txt
        END AS owner_kind_detail,
        CASE
            WHEN TRIM(groupe::TEXT) = '' THEN 'Particulier'
            ELSE 'Autre'
        END AS owner_kind

SyntaxError: invalid syntax (3877261076.py, line 1)

In [96]:
df["groupe"].value_counts(normalize=True, dropna=False) * 100

groupe
     62.3869
0    19.3613
5    13.1181
4     2.4390
7     0.9125
9     0.5294
1     0.5045
6     0.4603
3     0.2079
2     0.0725
8     0.0076
Name: proportion, dtype: float64

In [94]:
df["ff_catpro2txt_1"].value_counts(normalize=True, dropna=False) * 100

ff_catpro2txt_1
PERSONNE PHYSIQUE                                         59.6479
ORGANISME DE LOGEMENT SOCIAL                              14.3775
SOCIETE CIVILE A VOCATION IMMOBILIERE                     12.0265
NaN                                                        3.8476
COMMUNE                                                    2.3091
INVESTISSEUR PROFESSIONNEL                                 2.1479
PERSONNE MORALE AUTRE                                      1.2569
PROPRIETE DIVISEE EN LOT                                   1.1947
PROMOTEUR                                                  0.5797
ETAT                                                       0.4923
STRUCTURE AGRICOLE                                         0.2543
STRUCTURE SOCIALE                                          0.2316
ETABLISSEMENT DE SANTE                                     0.2158
STRUCTURE INTERCOMMUNALE                                   0.2006
DEPARTEMENT                                                0.1887
ACTIVITE DE TOURISME                                       0.1558
ETABLISSEMENT PUBLIC FONCIER                               0.1166
ACTIVITE INDUSTRIELLE                                      0.1149
STRUCTURE LIEE AUX CULTES                                  0.1140
ACTIVITE COMMERCIALE                                       0.0817
RESEAU ELECTRIQUE OU GAZ                                   0.0799
REGION                                                     0.0696
RESEAU FERRE                                               0.0629
SEM OU SPLA                                                0.0587
CHAMBRE CONSULAIRE                                         0.0266
STRUCTURE FORESTIERE                                       0.0259
STRUCTURE FLUVIALE OU MARITIME                             0.0257
STRUCTURE SPORTIVE                                         0.0219
STRUCTURE DU FONCIER ENVIRONNEMENTAL                       0.0127
ETABLISSEMENT D ENSEIGNEMENT DU PRIMAIRE ET SECONDAIRE     0.0107
PERSONNE MORALE PUBLIQUE AUTRE                             0.0103
ACTIVITE EXTRACTIVE                                        0.0094
STRUCTURE LIEE À LA CULTURE                                0.0082
ETABLISSEMENT PUBLIC D ETUDE OU DE RECHERCHE               0.0047
CONCESSIONNAIRE AUTOROUTIER                                0.0045
ASSOCIATION FONCIERE DE REMEMBREMENT                       0.0043
RESEAU EAU OU ASSAINISSEMENT                               0.0029
SAFER                                                      0.0023
AMENAGEUR                                                  0.0016
PROPRIETAIRE DE RESEAU AUTRE                               0.0011
UNIVERSITE ET ENSEIGNEMENT SUPERIEUR                       0.0011
COLLECTIVITE TERRITORIALE AUTRE                            0.0004
STRUCTURE AERIENNE                                         0.0003
RESEAU DE TELECOMMUNICATION                                0.0002
Name: proportion, dtype: float64

In [58]:
df

,annee,ff_millesime,dir,sip,invariant,ff_idlocal,ff_idbat,ff_idpar,ff_idsec,refcad,...,ff_idprodroit_6,ff_jdatnss_6,ff_ddenom_6,ff_dsiren_6,ff_ccogrm_6,ff_catpro2txt_6,ff_catpro3_6,ff_ccodro_6,ff_locprop_6,cer_ff_adresse_6
0,2024,2023.0,10,450,I0010000001Y,10010000001,010010000A0003A,010010000A0003,010010000A,A0003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,2023.0,10,450,I0010000089L,10010000089,01001000ZC0081A,01001000ZC0081,01001000ZC,ZC0081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,2023.0,10,450,I0010000115N,10010000115,01001000ZE0075A,01001000ZE0075,01001000ZE,ZE0075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,2023.0,10,450,I0010000124L,10010000124,01001000ZH0037A,01001000ZH0037,01001000ZH,ZH0037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,2023.0,10,450,I0010000220T,10010000220,01001000ZM0060A,01001000ZM0060,01001000ZM,ZM0060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024,2023.0,10,751,I0040123962V,10040123962,01004000AO0892A,01004000AO0892,01004000AO,AO0892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,2024,2023.0,10,751,I0040124014D,10040124014,01004000AL0150A,01004000AL0150,01004000AL,AL0150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,2024,2023.0,10,751,I0040124015Z,10040124015,01004000AL0150A,01004000AL0150,01004000AL,AL0150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2024,2023.0,10,751,I0040124043N,10040124043,01004000BS0140C,01004000BS0140,01004000BS,BS0140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,2024,2023.0,10,751,I0040124070G,10040124070,01004000BT0265A,01004000BT0265,01004000BT,BT0265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df[85].unique()

array(['PERSONNE PHYSIQUE', 'ORGANISME DE LOGEMENT SOCIAL',
       'SOCIETE CIVILE A VOCATION IMMOBILIERE', '\\N',
       'PERSONNE MORALE AUTRE', 'ETAT',
       'ETABLISSEMENT D ENSEIGNEMENT DU PRIMAIRE ET SECONDAIRE',
       'STRUCTURE SOCIALE', 'PROPRIETE DIVISEE EN LOT', 'DEPARTEMENT',
       'COMMUNE', 'INVESTISSEUR PROFESSIONNEL', 'RESEAU FERRE',
       'PROMOTEUR', 'STRUCTURE INTERCOMMUNALE',
       'ETABLISSEMENT PUBLIC FONCIER', 'REGION',
       'STRUCTURE LIEE AUX CULTES', 'ACTIVITE INDUSTRIELLE',
       'ACTIVITE COMMERCIALE', 'STRUCTURE AERIENNE', 'STRUCTURE AGRICOLE',
       'ACTIVITE DE TOURISME', 'SAFER', 'ETABLISSEMENT DE SANTE',
       'STRUCTURE FLUVIALE OU MARITIME', 'RESEAU ELECTRIQUE OU GAZ',
       'CHAMBRE CONSULAIRE', 'STRUCTURE LIEE À LA CULTURE',
       'UNIVERSITE ET ENSEIGNEMENT SUPERIEUR', 'SEM OU SPLA',
       'STRUCTURE FORESTIERE', 'STRUCTURE DU FONCIER ENVIRONNEMENTAL',
       'STRUCTURE SPORTIVE', 'RESEAU EAU OU ASSAINISSEMENT',
       'PERSONNE MORALE PUBLIQUE AUTRE', 'ACTIVITE EXTRACTIVE',
       'CONCESSIONNAIRE AUTOROUTIER', 'AMENAGEUR',
       'PROPRIETAIRE DE RESEAU AUTRE', 'COLLECTIVITE TERRITORIALE AUTRE',
       'ASSOCIATION FONCIERE DE REMEMBREMENT',
       'ETABLISSEMENT PUBLIC D ETUDE OU DE RECHERCHE',
       'RESEAU DE TELECOMMUNICATION'], dtype=object)

In [13]:
df[df.columns[-10:]]

,130,131,132,133,134,135,136,137,138,139
0,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
1,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
2,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
3,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
4,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
5,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
6,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
7,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN
8,01001S0007806,25/06/1948,SALUCE ANDRE ALBERT,\N,\N,PERSONNE PHYSIQUE,X1a,P,3,0602 AV DU HUIT MAI 69300 CALUIRE ET CUIRE
9,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN